#body1{
  background-color: #5CDB95;
  color: #ffffff;
  height:1200px ;
  width:400px; 
  margin: auto;
  padding: 10px;
  text-align: center;
  line-height: 30px;
}
#title{
  margin: auto;
  padding:1px;
  color:blue;
  border: 2px solid white;
  border-radius: 25px 25px;
}
input{
  height:20px ;
  width:150px;
  background-color:#EDF5E1 ;
}
select{
  background-color:#EDF5E1 ;
}
#calculate{
  background-color:#242582;
  color: white;
  height:30px ;
  width: 170px;
  margin-top: 10px;
  border-radius: 25px 25px;
}
